body {
  margin: 0;
  font-family: 'Wix Madefor Text', sans-serif;
  background: linear-gradient(to bottom, #6727E8, #0396ff);
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Wix Madefor Text', sans-serif;
}
