.boiteBlanche {
  background-color: white;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin: auto;
  margin-top: 70px;
  margin-bottom: 11%;
}

.titre {
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.section {
  margin-bottom: 1.5rem;
}

.label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 500;
}

.range {
  width: 100%;
}

.rangeLabel {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  margin-top: 0.3rem;
  color: #666;
}

.boutonChoix {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1.5rem;
}

.boutonBleu {
  background-color: #3b82f6;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-weight: bold;
}

.boutonViolet {
  background-color: #9333ea;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-weight: bold;
}

.boutonNoir {
  background-color: black;
  color: white;
  padding: 0.7rem 1.5rem;
  border-radius: 0.5rem;
  font-weight: bold;
  display: block;
  margin: auto;
}
@media (max-width: 1500px) {
  .boiteBlanche {
    margin-bottom: 15%;
  }

}
@media (max-width: 1000px) {
  .boiteBlanche {
    margin-bottom: 25%;
  }

}
@media (max-width: 600px) {
  .boiteBlanche {
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 27%;
  }

}